<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/template :: head">
    <meta charset="UTF-8">
    <title>Inicio</title>
</head>
<body>

<header th:replace="layout/template :: header"></header>

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>Chuck Norris Joke</h3>
                </div>
                <div class="card-body" th:fragment="joke">
                    <h5 id="joke" th:text="${joke}">Joke</h5>
                </div>
                <div class="card-footer text-right">
                    <button type="button" class="btn btn-primary" th:onclick="refresh()">Refresh</button>
                </div>
            </div>
        </div>
    </div>
</div>

<footer th:replace="layout/template :: footer"></footer>


<script type="text/javascript" th:src="@{/utils.js}"></script>
</body>
</html>